ydata_unsupervised_learning/The Evolution of Genetic Algorithms.pptx
ydata_supervised_learning/lecture4_End2EndML/customer_purchase_intent/artifacts/data/events.csv
ydata_python/Optional_material/accidents_2005.csv
ydata_python/Optional_material/accidents_2005_to_2007.csv
kaggle/fraud/train.csv
kaggle/fraud/train_sample.csv
kaggle/fraud/test.csv
kaggle/fraud/sample_submission.csv
kaggle/digits/train.csv
kaggle/digits/test.csv
ydata_unsupervised_learning/lecture5_TimeSeries/234.csv
ydata_unsupervised_learning/lecture5_TimeSeries/temperature.csv
ydata_unsupervised_learning/lecture5_TimeSeries/COMED_hourly.csv
kaggle/digits/sample_submission.csv
ydata_unsupervised_learning/lecture4_genetic_algorithms/The Evolution of Genetic Algorithms.pptx
